<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="layout :: site_head(~{::title})">
    <title> Mikle's site </title>
</head>

<body>
<nav th:replace="layout :: navigation"></nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>My blog</h1>
            Now is: <b th:text="${execInfo.now.time}"></b>
        </div> <!--<div class="col-md-12">-->
        <div class="col-md-12">
            <main id="articles">
                <article th:each="article : ${articles}" >
                    <h2 class="title" th:text="${article.title}">Article Title</h2>
                        <p  th:utext="${article.text}">     </p>
                 </article>
            </main>
        </div>  <!-- div class="col-md-12"> -->

                    <div class="col-md-12">
            <footer th:replace="layout :: site-footer"/>
        </div> <!--<div class="col-md-12">-->

    </div> <!--<div class="row">-->
</div>  <!--<div class="container">-->




</body>

</html>